.btn-main {
  padding: 0rem 1rem 0.3rem 1rem;
  border-radius: 50rem;
  font-weight: 600;
  border: none;
  background-color: #000;
  color: #fff;
}

.btn-second {
  padding: 0rem 1rem 0.3rem 1rem;
  border-radius: 50rem;
  font-weight: 600;
  color: #212121;
  border: 1px solid #000;
  background-color: transparent;
}

.enlace {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.enlace .icon {
  padding: 0 0.5rem 0 0;
  background-color: transparent;
  font-size: 1.3rem;
}

.main-menu {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-menu li {
  list-style: none;
  display: inline;
  font-size: 1rem;
  margin-right: 2rem;
}
.main-menu a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.main-menu a:hover {
  color: #008248;
}

.btn-menu {
  background-color: transparent;
  border: none;
  letter-spacing: 0.1rem;
  padding: 0 1rem;
  margin-bottom: 1px solid #000;
}
.btn-menu span {
  font-size: 2rem;
  font-weight: 600;
}
.btn-menu span .star {
  color: #CBA258;
  font-size: 1rem;
  padding: 0.2rem;
}

.steps, .extras-cards .desc-extra {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 3rem;
}
.steps i, .extras-cards .desc-extra i {
  padding: 0 0 1rem 0;
  font-size: 3rem;
  font-weight: 1;
  color: #145D44;
}
.steps h3, .extras-cards .desc-extra h3 {
  font-size: 1.2rem;
  color: #000;
}
.steps p, .extras-cards .desc-extra p {
  font-size: 1rem;
  font-weight: 500;
}
.steps a, .extras-cards .desc-extra a {
  color: #145D44;
}

.extras-cards .desc-extra .img-extra img {
  width: 7rem;
}
.extras-cards .desc-extra h3 {
  padding: 2rem 0 1rem 0;
}
.extras-cards .desc-extra p {
  font-weight: 600;
  font-size: 1rem;
}
.extras-cards .card-content {
  display: flex;
  flex-direction: column;
}

.cash .dolar-1, .cash .dolar-2 {
  display: flex;
  padding: 0 3rem;
  flex-direction: row;
}
.cash .dolar-1 .cash-1, .cash .dolar-2 .cash-1, .cash .dolar-2 .cash-2 {
  display: flex;
  flex-direction: column;
}
.cash .dolar-1 .cash-1 .p-star, .cash .dolar-2 .cash-1 .p-star, .cash .dolar-2 .cash-2 .p-star {
  margin: 0;
  min-width: 200px;
  font-size: 1.5rem;
  font-weight: 700;
}
.cash .dolar-1 .cash-1 .p-star .star, .cash .dolar-2 .cash-1 .p-star .star, .cash .dolar-2 .cash-2 .p-star .star {
  font-size: 1rem;
}
.cash .dolar-1 .cash-1-scan, .cash .dolar-1 .cash-2-save, .cash .dolar-1 .cash-2-scan, .cash .dolar-2 .cash-1-scan, .cash .dolar-2 .cash-2-save, .cash .dolar-2 .cash-2-scan, .cash .dolar-1 .cash-1-save, .cash .dolar-2 .cash-1-save {
  display: flex;
  min-width: 400px;
}
.cash .dolar-1 .cash-1-scan img, .cash .dolar-1 .cash-2-save img, .cash .dolar-1 .cash-2-scan img, .cash .dolar-2 .cash-1-scan img, .cash .dolar-2 .cash-2-save img, .cash .dolar-2 .cash-2-scan img, .cash .dolar-1 .cash-1-save img, .cash .dolar-2 .cash-1-save img {
  height: 10rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
.cash .dolar-1 .cash-1-scan .scan-detail h3, .cash .cash-2-save .dolar-1 .cash-1-scan .register-detail h3, .cash .dolar-1 .cash-2-save .scan-detail h3, .cash .dolar-1 .cash-2-save .register-detail h3, .cash .cash-2-scan .dolar-1 .cash-1-scan .preload-detail h3, .cash .cash-2-scan .dolar-1 .cash-2-save .preload-detail h3, .cash .dolar-1 .cash-2-scan .scan-detail h3, .cash .cash-2-save .dolar-1 .cash-2-scan .register-detail h3, .cash .dolar-1 .cash-2-scan .preload-detail h3, .cash .dolar-2 .cash-1-scan .scan-detail h3, .cash .cash-2-save .dolar-2 .cash-1-scan .register-detail h3, .cash .dolar-2 .cash-2-save .scan-detail h3, .cash .dolar-2 .cash-2-save .register-detail h3, .cash .cash-2-scan .dolar-2 .cash-1-scan .preload-detail h3, .cash .cash-2-scan .dolar-2 .cash-2-save .preload-detail h3, .cash .dolar-2 .cash-2-scan .scan-detail h3, .cash .cash-2-save .dolar-2 .cash-2-scan .register-detail h3, .cash .dolar-2 .cash-2-scan .preload-detail h3, .cash .dolar-1 .cash-1-save .scan-detail h3, .cash .cash-2-save .dolar-1 .cash-1-save .register-detail h3, .cash .cash-2-scan .dolar-1 .cash-1-save .preload-detail h3, .cash .dolar-2 .cash-1-save .scan-detail h3, .cash .cash-2-save .dolar-2 .cash-1-save .register-detail h3, .cash .cash-2-scan .dolar-2 .cash-1-save .preload-detail h3, .cash .dolar-1 .cash-1-save .save-detail h3, .cash .dolar-2 .cash-1-save .save-detail h3 {
  font-size: 1.5rem;
}
.cash .dolar-1 .cash-1-scan .scan-detail p, .cash .cash-2-save .dolar-1 .cash-1-scan .register-detail p, .cash .dolar-1 .cash-2-save .scan-detail p, .cash .dolar-1 .cash-2-save .register-detail p, .cash .cash-2-scan .dolar-1 .cash-1-scan .preload-detail p, .cash .cash-2-scan .dolar-1 .cash-2-save .preload-detail p, .cash .dolar-1 .cash-2-scan .scan-detail p, .cash .cash-2-save .dolar-1 .cash-2-scan .register-detail p, .cash .dolar-1 .cash-2-scan .preload-detail p, .cash .dolar-2 .cash-1-scan .scan-detail p, .cash .cash-2-save .dolar-2 .cash-1-scan .register-detail p, .cash .dolar-2 .cash-2-save .scan-detail p, .cash .dolar-2 .cash-2-save .register-detail p, .cash .cash-2-scan .dolar-2 .cash-1-scan .preload-detail p, .cash .cash-2-scan .dolar-2 .cash-2-save .preload-detail p, .cash .dolar-2 .cash-2-scan .scan-detail p, .cash .cash-2-save .dolar-2 .cash-2-scan .register-detail p, .cash .dolar-2 .cash-2-scan .preload-detail p, .cash .dolar-1 .cash-1-save .scan-detail p, .cash .cash-2-save .dolar-1 .cash-1-save .register-detail p, .cash .cash-2-scan .dolar-1 .cash-1-save .preload-detail p, .cash .dolar-2 .cash-1-save .scan-detail p, .cash .cash-2-save .dolar-2 .cash-1-save .register-detail p, .cash .cash-2-scan .dolar-2 .cash-1-save .preload-detail p, .cash .dolar-1 .cash-1-save .save-detail p, .cash .dolar-2 .cash-1-save .save-detail p {
  font-size: 1rem;
}
.cash .dolar-1 .cash-1-save .save-detail, .cash .dolar-2 .cash-1-save .save-detail {
  margin-right: 200px;
}
.cash .separator {
  flex: 1;
  border-top: 5px solid #ddd;
  margin: 0 1rem;
}
.cash .cash-2-scan .preload-detail {
  width: 13rem;
}
.cash .cash-2-save {
  width: 13rem;
}
html {
  min-width: 98vw;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 6.5rem;
  border-bottom: solid 1px #ddd;
}
.nav .logo {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
}
.nav .logo a img {
  max-width: 4rem;
}
.nav .join-now {
  padding: 0 3rem;
  display: flex;
  gap: 2rem;
}
.nav .join-now .enlace {
  display: flex;
  align-items: center;
}

.rewards {
  display: flex;
  align-items: center;
  background-color: #1e3932;
  height: 3rem;
  position: sticky;
  top: 0;
  z-index: 3;
}
.rewards .text {
  padding: 1rem 0 0 8rem;
  color: #fff;
  font-weight: 700;
}

.sec-join {
  width: 100%;
  padding: 4rem 4rem 4rem 0;
  height: 40rem;
  background-image: url(../assets/estrella.png);
  background-size: cover;
  background-repeat: none;
}
.sec-join .container {
  padding: 10rem 10rem 10rem 0;
  flex-direction: column;
}
.sec-join .container p {
  color: #1B1E1D;
}
.sec-join .container .txt-coffee {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}
.sec-join .container .txt-join {
  font-size: 1.3rem;
  padding: 0 0 1rem 0;
}
.sec-join .container .btn-main-1 {
  background-color: #008248;
  padding: 0rem 1rem 0.3rem 1rem;
  border-radius: 50rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  color: #fff;
}
.sec-join .container .txt-app {
  padding: 0.7rem 0;
  color: #000;
  font-size: 1.2rem;
}
.sec-join .container .txt-app a {
  color: #000;
}

.started .getting, .social-media .getting, .enlaces .getting, .info .getting, .questions .getting, .keep-rewards .getting, .cash .getting, .cash .intro-cash, .extras .getting, .extras .endless {
  color: #212121;
  text-align: center;
  padding: 8rem 0 0 0;
}
.started .segments-cards, .social-media .segments-cards, .enlaces .segments-cards, .info .segments-cards, .questions .segments-cards, .keep-rewards .segments-cards, .cash .segments-cards, .extras .segments-cards, .extras .extras-cards {
  padding: 0 1rem 2rem 2rem;
}

.favorites {
  background-color: #f1f8f6;
  margin: auto;
}
.favorites .fav {
  padding: 5rem 10rem;
  width: 100%;
}
.favorites .fav h3 {
  text-align: center;
  color: #000;
  font-weight: 600;
}
.favorites .container-menu {
  display: flex;
  flex-direction: column;
}
.favorites .container-menu .btn-coffee {
  text-align: center;
  width: 100%;
}
.favorites .container-menu .product {
  display: flex;
  padding: 0 10rem;
  background-color: #d4e9e2;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.14);
  flex-direction: row;
}
.favorites .container-menu .product .coffe {
  padding: 0 4rem 0 8rem;
  justify-content: center;
}
.favorites .container-menu .product .coffe img {
  width: 20rem;
}
.favorites .container-menu .product .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 375px;
}
.favorites .container-menu .product .desc h3 {
  font-weight: 600;
}
.favorites .container-menu .product .desc p {
  font-weight: 600;
}

.extras .endless h3 {
  font-size: 1.8rem;
  font-weight: 600;
}
.extras .endless p {
  text-align: center;
  font-weight: 600;
}
.cash {
  background-color: #f3f1e7;
}
.cash .intro-cash {
  padding: 3rem 0;
}
.cash .intro-cash h3 {
  font-weight: 700;
}
.cash .intro-cash p {
  padding: 0 22rem;
  font-weight: 600;
}
.cash .separator {
  flex: 1;
  border-top: 1px solid #000;
  margin: 0 1rem;
  padding: 2rem;
}

.keep-rewards {
  padding: 1rem 3rem;
  background-image: url(/assets/starbucks-bckgr.jpg);
  background-position: center;
}
.keep-rewards .keep {
  background-color: #d4e9e2;
  display: flex;
}
.keep-rewards .keep .star img {
  width: 300px;
}
.keep-rewards .keep .keep-desc {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.keep-rewards .keep .keep-desc p {
  padding: 0 2rem;
  font-weight: 600;
}
.keep-rewards .keep .keep-desc p a {
  color: #008248;
}
.keep-rewards .keep .keep-desc img {
  width: 200px;
  padding: 1rem;
}
.keep-rewards .keep .keep-button {
  padding: 0 0 2rem 0;
}
.keep-rewards .keep .keep-button .btn-main {
  background-color: #008248;
}

.questions .questions-desc {
  padding: 4rem 15rem;
}
.questions .questions-desc p {
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 600;
}
.questions .questions-desc p a {
  color: #008248;
}

.info .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  padding: 2.5rem;
}
.info .wrapper .square h3 {
  font-size: 1rem;
  color: #686868;
  padding: 0 0 0.5rem 0;
  font-weight: 700;
}
.info .wrapper .square p {
  font-size: 0.9rem;
  margin: 0.5rem;
}
.info .wrapper .square a {
  color: #008248;
}
.info .one {
  grid-area: 1/1/2/3;
}
.info .two {
  grid-area: 2/1/3/2;
}
.info .three {
  grid-area: 2/2/3/3;
}
.info .four {
  grid-area: 3/1/4/2;
}
.info .five {
  grid-area: 3/2/4/3;
}

.enlaces .pre-footer {
  display: flex;
}
.enlaces .pre-footer .column {
  padding: 0.5rem 0;
}
.enlaces .pre-footer .column ul {
  list-style: none;
  width: 15rem;
}
.enlaces .pre-footer .column ul h3 {
  font-size: 1rem;
  padding: 0.5rem 0;
}
.enlaces .pre-footer .column ul li {
  padding: 0.5rem 0;
}
.enlaces .pre-footer .column ul li a {
  text-decoration: none;
  color: #686868;
}
.enlaces .pre-footer .column ul li a:hover {
  color: #000;
}

.social-media .logs .logs1 {
  display: flex;
  font-size: 2rem;
  list-style: none;
}
.social-media .logs li {
  padding: 0 1rem 0 0;
}
.social-media .logs li a {
  color: #000;
}
.social-media .footer .enlaces-foot {
  display: flex;
  font-size: 1rem;
  list-style: none;
}
.social-media .footer li {
  padding: 0 1rem 0 0;
}
.social-media .footer li a {
  color: #000;
  text-decoration: none;
}
.social-media .footer li a:hover {
  text-decoration: underline;
}
.social-media .p-foot {
  font-size: 1rem;
  padding: 0 2rem;
  color: #686868;
}

/*# sourceMappingURL=styles.css.map */
