.btn-main {
  padding: 0rem 1rem 0.3rem 1rem;
  border-radius: 50rem;
  font-weight: 600;
  border: none;
  background-color: #000;
  color: #fff;
}

.btn-second {
  padding: 0rem 1rem 0.3rem 1rem;
  border-radius: 50rem;
  font-weight: 600;
  color: #212121;
  border: 1px solid #000;
  background-color: transparent;
}

.enlace {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.enlace .icon {
  padding: 0 0.5rem 0 0;
  background-color: transparent;
  font-size: 1.3rem;
}

.main-menu {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-menu li {
  list-style: none;
  display: inline;
  font-size: 1rem;
  margin-right: 2rem;
}
.main-menu a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.main-menu a:hover {
  color: #008248;
}

.steps {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.steps i {
  padding: 0 0 1rem 0;
  font-size: 3rem;
  font-weight: 1;
  color: #145D44;
}
.steps h3 {
  font-size: 1.2rem;
  color: #000;
}
.steps p {
  font-size: 1rem;
  font-weight: 500;
}
.steps a {
  color: #145D44;
}

.btn-menu {
  background-color: transparent;
  border: none;
  letter-spacing: 0.1rem;
  padding: 0 1rem;
  margin-bottom: 1px solid #000;
}
.btn-menu span {
  font-size: 2rem;
  font-weight: 600;
}
.btn-menu span .star {
  color: #CBA258;
  font-size: 1rem;
  padding: 0.2rem;
}

html {
  min-width: 100vw;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 6.5rem;
  border-bottom: solid 1px #ddd;
}
.nav .logo {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
}
.nav .logo a img {
  max-width: 4rem;
}
.nav .join-now {
  padding: 0 3rem;
  display: flex;
  gap: 2rem;
}
.nav .join-now .enlace {
  display: flex;
  align-items: center;
}

.rewards {
  display: flex;
  align-items: center;
  background-color: #1e3932;
  height: 3rem;
}
.rewards .text {
  padding: 1rem 0 0 8rem;
  color: #fff;
  font-weight: 700;
}

.sec-join {
  width: 100%;
  padding: 4rem 4rem 4rem 0;
  height: 40rem;
  background-image: url(../assets/estrella.png);
  background-size: cover;
  background-repeat: none;
}
.sec-join .container {
  padding: 10rem 10rem 10rem 0;
  flex-direction: column;
}
.sec-join .container p {
  color: #1B1E1D;
}
.sec-join .container .txt-coffee {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}
.sec-join .container .txt-join {
  font-size: 1.3rem;
  padding: 0 0 1rem 0;
}
.sec-join .container .btn-main-1 {
  background-color: #008248;
  padding: 0rem 1rem 0.3rem 1rem;
  border-radius: 50rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  color: #fff;
}
.sec-join .container .txt-app {
  padding: 0.7rem 0;
  color: #000;
  font-size: 1.2rem;
}
.sec-join .container .txt-app a {
  color: #000;
}

.started {
  height: 40rem;
  max-width: 992px;
  margin: auto;
  width: 100%;
}
.started .getting {
  color: #212121;
  text-align: center;
  padding: 8rem 0 0 0;
}
.started .segments-card {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.favorites {
  background-color: #f1f8f6;
  margin: auto;
}
.favorites .fav {
  padding: 5rem 10rem;
  width: 100%;
}
.favorites .fav h3 {
  text-align: center;
  color: #000;
  font-weight: 600;
}
.favorites .container-menu {
  display: flex;
  flex-direction: column;
}
.favorites .container-menu .btn-coffee {
  text-align: center;
  width: 100%;
}
.favorites .container-menu .product {
  display: flex;
  padding: 0 10rem;
  background-color: #d4e9e2;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.14);
  flex-direction: row;
}
.favorites .container-menu .product .coffe {
  padding: 0 4rem 0 8rem;
  justify-content: center;
}
.favorites .container-menu .product .coffe img {
  width: 20rem;
}
.favorites .container-menu .product .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 375px;
}
.favorites .container-menu .product .desc h3 {
  font-weight: 600;
}
.favorites .container-menu .product .desc p {
  font-weight: 600;
}

/*# sourceMappingURL=styles.css.map */
