@mixin btn-base {
    padding: 0rem 1rem 0.3rem 1rem;
    border-radius: 50rem;
    font-weight: 600;

}

.btn-main {
    @include btn-base();
    border: none;
    background-color: #000;
    color: #fff;
}

.btn-second {
    @include btn-base();
    color: #212121;
    border: 1px solid #000;
    background-color: transparent;

}

.enlace {
    text-decoration: none;
    color: #000;
    font-weight: 700;

    .icon {
        padding: 0 0.5rem 0 0;
        background-color: transparent;
        font-size: 1.3rem;
    }
}

.main-menu {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
        list-style: none;
        display: inline;
        font-size: 1rem;
        margin-right: 2rem;
    }

    a {
        text-decoration: none;
        color: #000;
        font-weight: 700;

        &:hover {
            color: #008248;
        }
    }
}


.btn-menu {
    background-color: transparent;
    border: none;
    letter-spacing: 0.1rem;
    padding: 0 1rem;
    margin-bottom: 1px solid #000;


    span {
        font-size: 2rem;
        font-weight: 600;

        .star {
            color: #CBA258;
            font-size: 1rem;
            padding: 0.2rem;
        }
    }
}

.steps {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 3rem;

    i {
        padding: 0 0 1rem 0;
        font-size: 3rem;
        font-weight: 1;
        color: #145D44;
    }

    h3 {
        font-size: 1.2rem;
        color: #000;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
    }

    a {
        color: #145D44;
    }
}


.extras-cards {
    .desc-extra {
        @extend .steps;

        .img-extra {
            img {
                width: 7rem;
            }
        }

        h3 {
            padding: 2rem 0 1rem 0;
        }

        p {
            font-weight: 600;
            font-size: 1rem;
        }
    }

    .card-content {
        display: flex;
        flex-direction: column;

    }
}

.cash {
    .dolar-1 {
        display: flex;
        padding: 0 3rem;
        flex-direction: row;

        .cash-1 {
            display: flex;
            flex-direction: column;

            .p-star {
                margin: 0;
                min-width: 200px;
                font-size: 1.5rem;
                font-weight: 700;

                .star {
                    font-size: 1rem;
                }
            }
        }

        .cash-1-scan {
            display: flex;
            min-width: 400px;

            img {
                height: 10rem;
                margin-left: 2rem;
                margin-right: 1rem;
            }

            .scan-detail {

                h3 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1rem
                }
            }
        }

        .cash-1-save {
            @extend .cash-1-scan;

            .save-detail {
                @extend .scan-detail;
                margin-right: 200px;
            }
        }
    }
    .separator{
        flex: 1;
            border-top: 5px solid #ddd;
            margin: 0 1rem;
    }
    
    .dolar-2 {
        @extend .dolar-1;

        .cash-2 {
            @extend .cash-1;
            }
        }

        .cash-2-scan {
            @extend .cash-1-scan;
            .preload-detail {
                @extend .scan-detail;
                width: 13rem;
            }
        }

        .cash-2-save {
            @extend .cash-1-scan;
                width: 13rem;

            .register-detail {
                @extend .scan-detail;
            }
        }
    }
