@use "components";

html {
    min-width: 98vw;
}

body {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 6.5rem;
    border-bottom: solid 1px #ddd;


    .logo {
        padding: 0 3rem;
        display: flex;
        justify-content: space-between;

        a img {
            max-width: 4rem;

        }
    }

    .join-now {
        padding: 0 3rem;
        display: flex;
        gap: 2rem;

        .enlace {
            display: flex;
            align-items: center;
        }
    }
}

.rewards {
    display: flex;
    align-items: center;
    background-color: #1e3932;
    height: 3rem;
    position: sticky;
    top: 0;
    z-index: 3;

    .text {
        padding: 1rem 0 0 8rem;
        color: #fff;
        font-weight: 700;
    }
}

.sec-join {
    width: 100%;
    padding: 4rem 4rem 4rem 0;
    height: 40rem;
    background-image: url(../assets/estrella.png);
    background-size: cover;
    background-repeat: none;

    .container {
        padding: 10rem 10rem 10rem 0;
        flex-direction: column;

        p {
            color: #1B1E1D;
        }

        .txt-coffee {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.2;
        }

        .txt-join {
            font-size: 1.3rem;
            padding: 0 0 1rem 0;
        }

        .btn-main-1 {
            background-color: #008248;
            padding: 0rem 1rem 0.3rem 1rem;
            border-radius: 50rem;
            font-size: 1.2rem;
            font-weight: 600;
            border: none;
            color: #fff;
        }

        .txt-app {
            padding: 0.7rem 0;
            color: #000;
            font-size: 1.2rem;

            a {
                color: #000;
            }
        }
    }
}

.started {
    .getting {
        color: #212121;
        text-align: center;
        padding: 8rem 0 0 0;

    }

    .segments-cards {
        padding: 0 1rem 2rem 2rem;
    }
}

.favorites {
    background-color: #f1f8f6;
    margin: auto;

    .fav {
        padding: 5rem 10rem;
        width: 100%;


        h3 {
            text-align: center;
            color: #000;
            font-weight: 600;
        }
    }

    .container-menu {
        display: flex;
        flex-direction: column;


        .btn-coffee {
            text-align: center;
            width: 100%;


        }

        .product {
            display: flex;
            padding: 0 10rem;
            background-color: #d4e9e2;
            box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, .14);
            flex-direction: row;

            .coffe {
                padding: 0 4rem 0 8rem;
                justify-content: center;

                img {
                    width: 20rem;
                }
            }

            .desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 375px;

                h3 {
                    font-weight: 600;
                }

                p {
                    font-weight: 600;
                }
            }

        }
    }

}

.extras {
    @extend .started;

    .endless {
        @extend .started, .getting;

        h3 {

            font-size: 1.8rem;
            font-weight: 600;
        }

        p {
            text-align: center;
            font-weight: 600
        }
    }

    .extras-cards {
        @extend .started, .segments-cards;
    }

}

.cash {
    background-color: #f3f1e7;
    @extend .started;

    .intro-cash {
        @extend .started, .getting;
        padding: 3rem 0;

        h3 {
            font-weight: 700;
        }

        p {
            padding: 0 22rem;
            font-weight: 600;
        }
    }

    .separator {
        flex: 1;
        border-top: 1px solid #000;
        margin: 0 1rem;
        padding: 2rem;
    }
}

.keep-rewards {
    @extend .started;
    padding: 1rem 3rem;
    background-image: url(/assets/starbucks-bckgr.jpg);
    background-position: center;

    .keep {
        background-color: #d4e9e2;
        display: flex;

        .star {
            img {
                width: 300px;
            }
        }

        .keep-desc {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            text-align: center;

            p {
                padding: 0 2rem;
                font-weight: 600;

                a {
                    color: #008248;
                }
            }

            img {
                width: 200px;
                padding: 1rem;
            }

        }

        .keep-button {
            padding: 0 0 2rem 0;

            .btn-main {
                background-color: #008248;
            }
        }
    }
}

.questions {
    @extend .started;

    .questions-desc {
        padding: 4rem 15rem;

        p {
            padding: 1rem 0;
            font-size: 1rem;
            font-weight: 600;

            a {
                color: #008248;
            }
        }
    }
}

.info{
    @extend .started;

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-column-gap: 4px;
        grid-row-gap: 4px;
        padding: 2.5rem;

        .square{
            

            h3{
                font-size: 1rem;
                color: #686868;
                padding: 0 0 0.5rem 0;
                font-weight: 700;
            }
            p {
                font-size: 0.9rem;
                margin: 0.5rem;
            }
    
            a {
                color: #008248;
            }
        }
        
    }

    .one {
        grid-area: 1 / 1 / 2 / 3;
    }

    .two {
        grid-area: 2 / 1 / 3 / 2;
    }

    .three {
        grid-area: 2 / 2 / 3 / 3; 
    }

    .four {
        grid-area: 3 / 1 / 4 / 2;
    }

    .five {
        grid-area: 3 / 2 / 4 / 3;
    }

}

.enlaces{
    @extend .started;

    .pre-footer{
        display: flex;

        .column{
            padding: 0.5rem 0;

            ul{
                list-style: none;
                width: 15rem;

                h3{
                    font-size: 1rem;
                    padding: .5rem 0;
                }

                li{
                    padding: .5rem 0;

                    a{
                        text-decoration: none;
                        color: #686868;

                        &:hover{
                            color: #000;
                        }
                    }
                }

            }

        }
    }
}

.social-media{
    @extend .started;
    .logs{
        .logs1{
            display: flex;
            font-size: 2rem;
            list-style: none;
        }
            li{
                padding: 0 1rem 0 0;

                a{
                    color: #000;
                }
            }
    }
    .footer{
        .enlaces-foot{
            display: flex;
            font-size: 1rem;
            list-style: none;
        }
        li{
            padding: 0 1rem 0 0;
            a{
                color: #000;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .p-foot{
        font-size: 1rem;
        padding: 0 2rem;
        color: #686868;
    }
}