@use "components";

html {
    min-width: 98vw;
}

body {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 6.5rem;
    border-bottom: solid 1px #ddd;


    .logo {
        padding: 0 3rem;
        display: flex;
        justify-content: space-between;

        a img {
            max-width: 4rem;

        }
    }

    .join-now {
        padding: 0 3rem;
        display: flex;
        gap: 2rem;

        .enlace {
            display: flex;
            align-items: center;
        }
    }
}

.rewards {
    display: flex;
    align-items: center;
    background-color: #1e3932;
    height: 3rem;
    position: sticky;
    top: 0;
    z-index: 3;

    .text {
        padding: 1rem 0 0 8rem;
        color: #fff;
        font-weight: 700;
    }
}

.sec-join {
    width: 100%;
    padding: 4rem 4rem 4rem 0;
    height: 40rem;
    background-image: url(../assets/estrella.png);
    background-size: cover;
    background-repeat: none;

    .container {
        padding: 10rem 10rem 10rem 0;
        flex-direction: column;

        p {
            color: #1B1E1D;
        }

        .txt-coffee {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.2;
        }

        .txt-join {
            font-size: 1.3rem;
            padding: 0 0 1rem 0;
        }

        .btn-main-1 {
            background-color: #008248;
            padding: 0rem 1rem 0.3rem 1rem;
            border-radius: 50rem;
            font-size: 1.2rem;
            font-weight: 600;
            border: none;
            color: #fff;
        }

        .txt-app {
            padding: 0.7rem 0;
            color: #000;
            font-size: 1.2rem;

            a {
                color: #000;
            }
        }
    }
}

.started {
    .getting {
        color: #212121;
        text-align: center;
        padding: 8rem 0 0 0;
        
    }

    .segments-cards {
        padding: 0 1rem 2rem 2rem;
    }
}

.favorites {
    background-color: #f1f8f6;
    margin: auto;

    .fav {
        padding: 5rem 10rem;
        width: 100%;


        h3 {
            text-align: center;
            color: #000;
            font-weight: 600;
        }
    }

    .container-menu {
        display: flex;
        flex-direction: column;


        .btn-coffee {
            text-align: center;
            width: 100%;


        }

        .product {
            display: flex;
            padding: 0 10rem;
            background-color: #d4e9e2;
            box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, .14);
            flex-direction: row;

            .coffe {
                padding: 0 4rem 0 8rem;
                justify-content: center;

                img {
                    width: 20rem;
                }
            }

            .desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 375px;

                h3 {
                    font-weight: 600;
                }

                p {
                    font-weight: 600;
                }
            }

        }
    }

}

.extras {
    @extend .started;

    .endless {
        @extend .started, .getting;

        h3 {

            font-size: 1.8rem;
            font-weight: 600;
        }

        p {
            text-align: center;
            font-weight: 600
        }
    }

    .extras-cards {
        @extend .started, .segments-cards;
    }

}

.cash {
    background-color: #f3f1e7;
    @extend .started;

    .intro-cash {
        @extend .started, .getting;
        padding: 3rem 0;

        h3{
            font-weight: 700;
        }

        p{
            padding: 0 22rem;
            font-weight: 600;
        }
    }
    .separator{
        flex: 1;
            border-top: 1px solid #000;
            margin: 0 1rem;
            padding: 2rem;
    }
}
